@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-mario);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body {
  scrollbar-width: none;         
  -ms-overflow-style: none;  
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;                 
  width: 0 !important;
  height: 0 !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes float{
  0% { transform: translatey(0px); }
  50% { transform: translatey(-7px); }
  100% { transform: translatey(0px); }
}
:root {
  /* 1rem will now be exactly 1% of the screen width */
  /* This value ignores browser zoom level completely */
  font-size: 1vw; 
}

@media (max-width: 768px) {
  :root {
    font-size: 2.5vw; /* Adjusts for mobile so it's not too tiny */
  }
}
.float {
  animation: float 2s ease-in-out infinite;
}

